text {
    font: 13px sans-serif;
    background: white;
}

rect.background {
    fill: transparent;
}

.axis {
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
}