body {
    background-image: url("Pics/poliwrath.jpg");
    background-color: #cccccc;
}

#textContainer {
    text-align: center;
    margin: 10px;
}

#imageContainer {
    text-align: center;
    margin: 10px;
}

img {
    margin: 5px;
    width: 320px;
    height: 320px;
}

#text_0, #text_1, #text_2 {
    font-size: 400%;
    color: #ff00a3;
    font-family: 'SansationLight';
    font-weight: bold;
}

#text_3, #text_4, #text_5 {
    font-size: 300%;
    color: #ff6c94;
}

#text_6, #text_7 {
    font-size: 250%;
    color: #ffc8f8;
}

#text_8, #text_9 {
    font-size: 200%;
    color: #fff7f9;
}

#videoContainer {
    text-align: center;
}

video {
    margin: 50px;
    border-style: dashed;
    border-width: medium;
    border-color: #00b3ee;
}