body {
    background: deepskyblue;
}

#textContainer {
    text-align: center;
    margin: 10px;
}

#imageContainer {
    text-align: center;
    margin: 10px;
}

img {
    margin: 5px;
    width: 300px;
    height: 300px;
}

#text_0, #text_1, #text_2 {
    font-size: 400%;
    color: white;
    font-family: 'SansationLight';
    font-weight: bold;
}

#text_3, #text_4, #text_5 {
    font-size: 300%;
    color: honeydew;
}

#text_6, #text_7 {
    font-size: 250%;
    color: ghostwhite;
}

#text_8, #text_9 {
    font-size: 200%;
    color: cornsilk;
}

#videoContainer {
    text-align: center;
}

video {
    margin: 50px;
    border-style: dashed;
    border-width: medium;
    border-color: #00b3ee;
}