<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
                    <form ng-submit="login()">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control"
                                       placeholder="Username"
                                       name="username"
                                       type="text"
                                       ng-model="loginForm.username"
                                       required
                                       autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control"
                                       placeholder="Password"
                                       name="password"
                                       type="password"
                                       ng-model="loginForm.password"
                                       required>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <!--a href="index.html" class="btn btn-lg btn-success btn-block">Login</a-->
                            <button class="btn btn-lg btn-success btn-block"
                                    type="submit"
                                    ng-disabled="disabled">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
