<div>
    <div>
        <h3 class="pokBoarder white-texted-shadow-head">Manage the messages in the system
            <aside>
                <a href="" ng-click="addMessage()" class="btn btn-success btn-md command-button align-left">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </aside>
        </h3>
        <div class="pager pokBoarder pokBoarder2">
            <div class="row col-md-6">
                <h5 class="col-md-12 white-texted-shadow-head"> Direct Search </h5>
                <div class="row">
                    <div class="col-md-6 white-texted-shadow">Text fields count </div>
                    <input class="col-md-4" type="number" min="0" max="10" step="1" ng-model="searchParams.textFieldsCount">
                    <div class="col-md-6 white-texted-shadow">Image fields count </div>
                    <input class="col-md-4" type="number" min="0" max="10" step="1" ng-model="searchParams.imageFieldsCount">
                    <div class="col-md-6 white-texted-shadow">Min display time (sec) </div>
                    <input class="col-md-4" type="number" min="0" max="10" step="1" ng-model="searchParams.minDisplayLength">
                    <button class="btn btn-primary" type="button" ng-click="searchMessages('min')">Search</button>
                </div>
            </div>
            <div class="row col-md-6">
                <h5 class="col-md-12  white-texted-shadow-head"> Maximum Search </h5>
                <div>
                    <div class="col-md-6 white-texted-shadow">Max text fields </div>
                    <input class="col-md-4" type="number" min="0" max="10" step="1" ng-model="searchParams.txtFieldsCount">
                    <div class="col-md-6 white-texted-shadow">Max image fields  </div>
                    <input class="col-md-4" type="number" min="0" max="10" step="1" ng-model="searchParams.imageFieldsCount">
                    <div class="col-md-6 white-texted-shadow">Max display time  </div>
                    <input class="col-md-4" type="number" min="0" max="10" step="1" ng-model="searchParams.minDisplayLength">
                    <button class="btn btn-primary" type="button" ng-click="searchMessages('max')">Search</button>
                </div>
            </div>
        </div>
        <div>
            <h5 class=" white-texted-shadow-head">Search By Message Name</h5>
            <input type="text"
                   class="form-control"
                   ng-change="filterMessages()"
                   placeholder="Search message ..."
                   ng-model="searchText"
                   ng-style="{color:'red'}">
        </div>
    </div>
    <div class="row space">
        <div ui-grid="gridOptions" ui-grid-selection ui-grid-edit class="grid"></div>
    </div>
</div>