<div class="container">
    <div class="panel panel-default pokemon-div container" style="width: 35%">
        <div class="panel-heading">
            <span>Name: </span>
            <input ng-model="pokemonName">
            <button class="btn btn-primary" type="button" ng-click="getPokemon()">Send</button>
        </div>
        <div class="panel-body" ng-if="pokemon != null">
            <div class="row">
                <div class="col-md-2">
                    <img ng-src="{{pokemonIconURL}}">
                </div>
                <div class="col-md-3">
                    <div>
                        <span>Base experience:</span>
                        <span>{{pokemon.base_experience}} xp</span>
                    </div>
                    <div>
                        <span>Height:</span>
                        <span>{{(pokemon.height < 10) ? (pokemon.height * 10) : (pokemon.height / 10)}} {{(pokemon.height < 10) ? 'cm' : 'm'}}</span>
                    </div>
                    <div>
                        <span>Weight:</span>
                        <span>{{pokemon.weight / 10}} kg</span>
                    </div>
                    <div>
                        <span>Types: </span>
                        <div class="pokemon-type" ng-repeat="pokemonType in pokemon.types" ng-class=pokemonType.type.name>
                            {{pokemonType.type.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a ng-href="http://bulbapedia.bulbagarden.net/wiki/{{pokemon.name}}_(Pokémon)">{{pokemon.name}} on Bulbapedia</a>
            </div>
        </div>
    </div>
</div>