<div>
    <h3>Messages distribution by templates and week days</h3>
    <div class="row center">
        <div id="main">
            <div id="sequence"></div>
            <div id="chart">
                <div id="explanation">
                    <span id="percentage"></span>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <h3>Messages distribution by week days and display length</h3>
    <div class="row center">
        <div id="hierarchial-bar-chart"></div>
    </div>
</div>
