<div>
    <h3 class="black-texted-shadow">Messages distribution by templates and week days</h3>
    <div class="row left">
        <div id="main">
            <div id="sequence" class="black-texted-shadow"></div>
            <div id="chart">
                <div id="explanation" class="black-texted-shadow">
                    <span id="percentage" class="black-texted-shadow"></span>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <h3>Messages distribution by week days and display length</h3>
    <div class="row right">
        <div id="hierarchial-bar-chart"></div>
    </div>
</div>
