<div class="row">
    <div class="col-lg-6">
        <h3 class="white-texted-shadow col-lg-12">Distribution of templates and week days</h3>
        <div id="main">
            <div id="sequence" class="white-texted-shadow"></div>
            <div id="chart">
                <div id="explanation" class="black-texted-shadow">
                    <span id="percentage" class="black-texted-shadow"></span>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <h3 class="white-texted-shadow col-lg-12">Distribution of week days and display time</h3>
        <div id="hierarchial-bar-chart"></div>
    </div>
</div>
